@use "./assets/styles/reset";
@use "./assets/styles/variable";
@use "./assets/styles/utils";
@use "./assets/styles/template";
@use "./assets/styles/layout";
@use "./assets/styles/header";
@use "./assets/styles/skills";
@use "./assets/styles/observerAnimation";

@font-face {
  font-family:"Inter";
  src: url('./assets/fonts/Inter_18pt-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family:"Inter";
  src: url('./assets/fonts/Inter_18pt-Regular.ttf');
  font-weight: 700;
}

body{
  font-family: "Inter", sans-serif;
  font-size: 15px;
  background-color: var(--bg);
  color: var(--color);
  line-height: 1.6;
  height: 2000px;
}