@import "./assets/styles/reset";
@import "./assets/styles/variable";
@import "./assets/styles/utils";

@font-face {
  font-family:"Inter";
  src: url('./assets/fonts/Inter_18pt-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family:"Inter";
  src: url('./assets/fonts/Inter_18pt-Regular.ttf');
  font-weight: 700;
}

body{
  font-family: "Inter", sans-serif;
  font-size: 15px;
  background-color: var(--bg);
  color: var(--color);
  line-height: 1.6;
}


@import "./assets/styles/template";
@import "./assets/styles/layout";
@import "./assets/styles/header";