@use "./assets/styles/reset";
@use "./assets/styles/variable";
@use "./assets/styles/observerAnimation";

//components
@use "./assets/styles/typography";
// @use "./assets/styles/utils";
@use "./assets/styles/template";
@use "./assets/styles/layout";
@use "./assets/styles/buttons";
@use "./assets/styles/badge";
@use "./assets/styles/form";

//pages
@use "./assets/styles/header";
@use "./assets/styles/skills";
@use "./assets/styles/projects";
@use "./assets/styles/contacts";
@use "./assets/styles/footer";


@font-face {
  font-family:"Inter";
  src: url('./assets/fonts/Inter_18pt-Regular.ttf');
  font-weight: 400;
}

@font-face{
  font-family: "Inter";
  src: url("./assets/fonts/Inter_18pt-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family:"Inter";
  src: url('./assets/fonts/Inter_18pt-SemiBold.ttf');
  font-weight: 600;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: rgb(var(--bg));
  color: rgb(var(--color));
  line-height: 1.6;
  width: 100%;
  min-height: 100vh;
  position: relative;
}