.badge{
   padding: .2em .6em;
   border-radius: 50px;
   font-size: .75em;
   font-weight: bold;
}

.badge-primary{
   background-color: rgb(var(--bg-light) / .15);
   color: rgb(var(--bg-light));
}

.badge-warning{
   background-color: rgb(var(--info) / .15);
   color: rgb(var(--info));
}
