.badge{
   padding: .5em 1em;
   border-radius: 5px;
   font-size: .85em;
   font-weight: bold;
   margin-right: 3px;
}

.badge-primary{
   background-color: rgb(58, 65, 72);
   color: rgb(var(--primary));
}

.badge-warning{
   background-color: rgb(var(--yellow) / .15);
   color: rgb(var(--yellow)/.8);
}
