.btn{
   display: inline-block;
   font-size: .8em;
   font-weight: 600;
   padding: .9em 1em;
   border-radius: 4px;
   text-transform: uppercase;
   cursor: pointer;
   border: 1px solid transparent;
   transition: .2s;

   &:hover{
      filter: contrast(.8);
   }

   &:disabled{
      cursor: default;
   }
}

.btn-primary{
   background-color: rgb(var(--primary)/.6);

   &:disabled{
      background-color: rgb(var(--primary)/.2);
      border-color: rgb(var(--primary)/.2);
   }
}


.btn-outlined-primary{
   border-color: rgb(var(--primary));
   color: rgb(var(--primary));
   background-color: transparent;

   &:hover{
      background-color: rgb(var(--primary))!important;
      color: #fff;
   }
}