.contact__box{
   border: 1px solid rgb(var(--border)/.15);
   margin-top: 20px;
   border-radius: 8px;
   overflow: hidden;
}

.contact__box-header{
   padding: 1em;
}

.contact__item{
   display: flex;
   align-items: center;
   gap: 1em;
   padding: 1em;
   background-color: var(--primary-03);
   border-radius:4px 4px 0 0;
   margin-bottom: 1em;
   border-bottom: 4px solid rgb(var(--bg-light));

   .contact__item-icon{
      background-color: rgb(var(--primary)/.16);
      color: rgb(var(--primary));
      padding: .8em;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius:50%;
   }

   .icon{
      width: 2em;
      height: 2em;
   }
}

.contact__item-info{
   margin-top: .2em;
   color: rgb(var(--color));
}

.contact__item-title{
   font-size: .85em;
}

.contact__box-body{
   background-color: var(--primary-03);
   padding: 2em 1em;
   margin: 0;
   border-radius: 10px 10px 0 0;   
   border-top: 1px solid rgb(var(--border)/.15);
}

@media (min-width: 900px){
   .contact__box-header{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1em;
      padding: 2em;

   }

   .contact__item{
      margin: 0;
   }

   .contact__box-body{
      padding: 2em;
   }

   .form__grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 2em;
   }

   .contact__form textarea{
      height: 82%;
   }
}