.header{
   display: flex;
   justify-content: space-between;
   padding: 20px calc(50vw - 570px);
}

.logo{
   font-size: 1.4em;
   background-color: var(--warning-soft);
   transform:skew(180deg 90deg);
   padding: 0px 20px;
   border-radius: 5px;
   line-height: 1em;
   color: var(--warning);
}

.header__nav{
   display: flex;
   gap: 2em;
}

.burger{
   display: none;
}

.nav__item{
   display: flex;
   align-items: center;
   font-size: 100%;

   img{
      width: 1em;
      margin-right: .4em;
   }
}

@media (max-width: 1140px){
.header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: var(--padding);
   position: relative;
}

.header__nav{
   opacity: 0;
   visibility: hidden;
   transition: opacity .2s ease-in-out;
   height: 0;
   width: 0;
}

.burger{
   display: block;
}

.nav__open{
   .header__nav{
      visibility:visible;
      opacity: 1;
      height: auto;
      display: flex;
      background-color: var(--bg-light);
      justify-content: space-between;
      gap: 20px;
      position: absolute;
      width: calc(100% - var(--padding) * 2);
      top: 100%;
      border-radius: 8px;
      box-shadow: var(--shadow-box);
      padding: var(--padding);
   }
}

.nav__item{
   flex-direction: column;
   font-size: .8em;
   font-weight: 700!important;

   img{
      width: 1.4em;
      font-weight: bold;
      margin-right: 0;
   }
}
}