@use "./utils";

.header, .section{
   padding: var(--padding);
}

.section{
   padding: calc(var(--padding)*4) var(--padding);
}

.section__header{
   margin-bottom: space(--padding);
}

.section__title{
   font-weight: 600;
   font-size: 2em;
   display: inline-block;
   color: #fff!important;
   @extend .text-underlined;
}

.section__subtitle{
   font-size: 1.2em;
   color: rgb(var(--primary));
}

.section__body{
   margin-top: 40px;
}

@media (max-width: 720px){
   .hide-mobil{
      display: none;
   }
}

@media (min-width: 1140px){
   .section{
      padding: 100px var(--container-padding);
   }

   .section__title{
      font-weight: 600;
      font-size: 2.6em;
   }
}