.header, .section{
   padding: var(--padding);
}

.section__header{
   margin-bottom: space(--padding);
}
.section__title{
   font-size: 2em;
}

.section__body{
   margin-top: 40px;
}

@media (min-width: 1140px){
   .section{
      padding: 100px calc(50vw - 570px);
   }
}