.project__grid{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   gap: 3em;
}

.project__card{
   border-radius: 8px;
   overflow: hidden;
}

.project__images{
   overflow: hidden;
   border-radius:5px;
   height: 250px;
}

.project__card-body{
   position: relative;
   overflow: hidden;
   height: 100%;
   padding-top: .3em;


   &:hover::before{
      opacity: 1;
   }
}

.project__card-action{
   color: rgb(var(--primary));
   display: flex;
   align-items: center;
   font-size: 1em;

   .icon{
      width: 1.2em;
      height: 1em;
   }
}
.project__description{
   margin: 1.5em 0;
}

.project__card{
   .btn{
      float: right;
      display: flex;
      align-items: center;

      .icon{
         width: 2em;
         height: 2em;
      }
   }

}

.project-dialog{
   max-height: 100vh!important;
   padding: var(--container-padding);
   padding-top: 100px;
}

@media (min-width: 1200px){
   .project__detail-body{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
   }

   .project__images-grid{
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 6px;

      img{
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

}
