.project__grid{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   gap: 2em;
}

.project__card{
   background-color: var(--primary-03);
   border-radius: 8px;
   overflow: hidden;
}

.project__images{
   overflow: hidden;
   border-radius:5px 5px 0 0;
}

.project__card-body{
   position: relative;
   overflow: hidden;
   height: 100%;
   padding: 1em;
   padding-top: .3em;
   background: 
      radial-gradient(ellipse 100% 90% at top left, rgb(var(--primary)/.2), rgb(187 51 255/.05), transparent),
      radial-gradient(ellipse 100% 90% at bottom right, rgb(var(--primary)/.2), transparent)
   ;

   &::before {
      content: '';
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background: 
         radial-gradient(ellipse 100% 90% at top left, rgb(var(--primary)/.2), rgb(187 51 255/.05), transparent),
         radial-gradient(ellipse 100% 90% at bottom right, rgb(var(--primary)/.2), transparent)
      ;
      opacity: 0;
      transition: opacity .3s ease-in;
      pointer-events: none;
   }

   &:hover::before{
      opacity: 1;
   }
}

.project__description{
   margin: 1em 0;
}

.btn-show{
   $color: rgb(var(--primary));
   border:2px solid $color;
   color: $color;
   width: 3em;
   height: 3em;
   border-radius:50%;
   transition: .3s;

   .icon{
      width: 2em;
      height: 2em;
   }

   &:hover{
      background-color: $color;
      color: rgb(56, 54, 54);
   }
}

.project-dialog{
   max-height: 100vh!important;
   padding: var(--container-padding);
   padding-top: 100px;
}

@media (min-width: 1200px){
   .project__detail-body{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
   }

   .project__images-grid{
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 6px;

      img{
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

}
