//mobil
.project__grid{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
   gap: 2em;
}

.project{
   display: flex;
   flex-direction: column;
   background-color: rgb(var(--bg-light));
   overflow: hidden;
   border-radius:5px;
}

.project__body{
   transition: .5s;
   bottom: 0;
   padding: 1em;
}

.project__technos{
   display: flex;
   gap: 10px;
   flex-wrap: wrap;
   margin: 10px 0;
}
.project__description{
   margin-top: .4em;
}

.project__meta{
   position: absolute;
   inset: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(0,0,0, .4);
   transform: translateX(-100%);
}

.project__detail{
   padding: 100px var(--container-padding);
}


.project:hover{
   border:1px solid var(--primary);
}

.project__images{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 10px;

   img{
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}

.project__detail-header{
   border-bottom: 1px solid rgb(var(--primary));
   padding-bottom: 2em;
}


.project-dialog{
   max-height: 100%!important;
   animation: dialogAnimation .2s;
   background-color: rgb(var(--bg)/.85)!important;
}

@keyframes dialogAnimation {
   0%{
      transform: scale(0);
      opacity: 0;
   }

   100%{
      transform: scale(100%);
      opacity: 1;
   }
}

//pc
@media (min-width: 1140px){
   .project__detail-body{
      display: grid;
      grid-template-columns: 4fr 3fr;
      column-gap:50px;
      padding-top: 2em;
   }
}