.skill__grid{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   column-gap: 4em;
   row-gap: 60px;
}


.skill__card-body{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 2em;
   margin-top: 2em;
}

.skill__item{
   display: flex;
   align-items: center;
   gap: .5em;
}

.skill__item-title{
   font-size: 1.2em;
}

.skill__title{
   font-weight: 600;
   border-bottom: 2px solid rgb(var(--primary)/.5);
   padding-bottom: 1em;
}

.skill__icon .icon{
   display: block;
   width: 1.6em;
   height: 1.6em;
}