.skill__grid{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   column-gap: 4em;
   row-gap: 60px;
}


.skill__item{
   display: flex;
   flex-direction: column;
   align-items:center;

   .skill__item-title{
      font-size: .9em;
      font-weight: 500;
   }

   .icon{
      color: rgb(var(--primary));
      width:2em;
      height: 2em;
   }
}

.skill__title{
   color: rgb(var(--primary));
   font-size: 1.2em;
   text-align: center;
}

.skill__card{
   .skill__card-body{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      row-gap: 30px;
      column-gap:10px;
      padding-top: 1.5em;
   }

   .skill__icon{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: rgb(var(--bg-light)/.3);
   }

   .icon{
      background-color: transparent;
      color: rgb(var(--primary));
      width:2em;
      height: 2em;
   }
}
