:root{
   --bg:46 46 56;
   --bg-light:69 73 117;
   --color:#fff;
   --primary: 40 233 140;
   --primary-inversed: #302f2f;
   --orange: 255 122 0;
   --purple: 173 0 255;
   --blue: 62 174 255;
   --yellow: 255 230 0;
   --warning: 255 230 0;
   --shadow-box: 0 0 .875rem 0 rgba(52, 58, 64, .03);
   --padding: 1rem;
   --container-padding: 1rem;
   --space: 5px;
}

@media (min-width: 1140px){
   :root{
      --container-padding: calc(50vw - 570px);
   }
}