:root{
   --bg: rgb(46, 46, 56);
   --bg-light:#454975;
   --color:#fff;
   --primary:rgb(255,186,19);
   --primary-soft: #ffc4b3;
   --shadow-box: 0 0 .875rem 0 rgba(52, 58, 64, .03);
   --padding: 1rem;
}